snippet checkbox "creates a checkbox"
 - [ ] $1 

snippet bold "Creates bold text"
	**$0**

snippet italic "Creates italic text"
	*$0*

snippet italicbold "Creates italic bold text"
	***$0***

autosnippet bld "Creates bold text"
	**$0**

autosnippet ita "Creates italic text"
	*$0*

snippet itb "Creates italic bold text"
	***$0***

snippet todo "todo"
	<!-- TODO: $1-->

snippet note "note"
	<!-- NOTE: $1-->

snippet fix "fix"
	<!-- FIX: $1-->

snippet bug "bug"
	<!-- BUG: $1-->
